Source: handsim
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 7.0.50~),
               libgazebo6-dev-prerelease | libgazebo6-dev,
               libhaptix-comm-dev (>= 0.5.0-3~trusty)
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-transport-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-transport-release
Homepage: https://bitbucket.org/ignitionrobotics/ign-transport

Package: handsim
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         libgazebo6-dev-prerelease | libgazebo6-dev,
         libhaptix-comm-dev (>= 0.5.0-3~trusty)
Multi-Arch: same
Description: Handsim simulator
