Source: handsim
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 7.0.50~),
               ros-indigo-catkin,
               libgazebo5-dev-prerelease | libgazebo5-dev,
               libhaptix-comm-dev
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-transport-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-transport-release
Homepage: https://bitbucket.org/ignitionrobotics/ign-transport

Package: handsim
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         libgazebo5-dev-prerelease | libgazebo5-dev,
         libhaptix-comm-dev
Multi-Arch: same
Description: Handsim simulator
